* {
	font-family: 'Roboto', sans-serif;
}

header {
	height: 50px;
	position: relative;
}

nav {
	background-color: #212121;
	position: fixed;
	height: 50px;
	width: 100%;
	z-index: 100;
}

.menu {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 13px 70px;
}

.menu .menu_link {
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}

.menu .menu_item {
	border-right: 2px dotted black;
	padding-right: 45px;
}

.menu .menu_item:last-child {
	border-right: none;
}

.subheader {
	background-color: rgba(0, 0, 0, .6);
	height: 84px;
	position: absolute;
	top: 50px;
	width: 100%;
}

.subheader .subheader_logo {
	display: block;
	margin-top: 16px;
	max-width: 100%;
}

.subheader .subheader_official {
	color: #ffffff;
	font-size: 13px;
	font-weight: 300;
	margin-top: 6px;
	opacity: 0.5;
}

.subheader .subheader_call {
	color: #ffffff;
	font-size: 12px;
	font-weight: 300;
	margin-top: 19px;
	text-align: right;
}

.subheader .subheader_phone {
	color: #ffffff;
	display: block;
	font-size: 22px;
	font-weight: 400;
	line-height: 12px;
	margin-top: 8px;
	text-align: right;
	text-decoration: none;
}

.subheader .subheader_btn {
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	height: 46px;
	margin-top: 19px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	text-transform: uppercase;
	width: 172px;
}

.promo {
	background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
	min-height: 800px;
	padding: 150px 0 135px 0;
	text-align: center;
}

.promo .promo_header {
	color: #ffffff;
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	margin: 0;
	text-transform: uppercase;
}

.promo .promo_subheader {
	color: #ffffff;
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	margin: 0;
	margin-top: 22px;
	text-transform: uppercase;
}

.promo .promo_descr {
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 23px;
}

.promo .promo_btn {
	background-image: linear-gradient(to top, #1eacc7, #4ce2ff);
	border: none;
	border-radius: 4px;
	box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
	color: #ffffff;
	display: block;
	font-size: 18px;
	font-weight: 400;
	height: 63px;
	margin: 118px auto 0 auto;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
	text-transform: uppercase;
	width: 259px;
}

.label {
	font-size: 11px;
	font-weight: 300;
	height: 24px;
	line-height: 25px;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 115px;
}

.label--dark {
	background-color: #000000;
	color: #ffffff;
}

.label--light {
	background-color: #ffffff;
	color: #000000;
}

.title {
	margin-top: 35px;
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
	text-transform: uppercase;
}

.title--dark {
	color: #222222;
}

.title--light {
	color: #ffffff;
}

.reasons {
	min-height: 900px;
	padding: 71px 0 65px 0;
}

.reasons .reasons_item {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.reasons .reasons_item .reasons_circle {
	align-items: center;
	background-color: #1eacc7;
	border-radius: 100%;
	display: flex;
	height: 113px;
	justify-content: center;
	margin-right: 26px;
	width: 113px;
}

.reasons .reasons_item .reasons_descr {
	width: 343px;
}

.reasons .reasons_item .reasons_descr .reasons_header {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
	line-height: 21px;
}

.reasons .reasons_item .reasons_descr .reasons_text {
	color: #202020;
	font-size: 15px;
	font-weight: 300;
	line-height: 21px;
}